@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
   
    text-decoration: none;
}
.brand-logo,h2{
    font-family: 'Grand Hotel','cursive';
}

body {
    background-color: #a7bec7;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.apni  {
    background-color: #97b8c7;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.foot{
background-color: #ee6e73;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


